* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
.picture-table{
    background-image: url(./bgc.png);
    /* border: 2px solid red; */
    height: 950px;
    position: relative;
    display: flex;
    justify-content: center;
}
.picture-table-box{
 border-bottom: 1px solid white;
 height: 80px;
 width: 1010px;
 position: absolute;
 top: 20px;
 right:70px;
}
.navhead{
    height: 40px;
    position: relative;
    display: flex;
    justify-content:space-between;
    color: white;
    font-size: 13px;
    padding-top: 12px;
}
.navfoot{
    border-top: 1px solid white;
    height: 40px;
    position: relative;
    display: flex;
    justify-content:space-between;
}
.navfoot div{
    width: 260px;
    text-align: center;
    padding: 7px;
    color: white;
    font-size: 14px;
    line-height: 21px;
}
.Delivery{
    border-right: 1px solid white;
    border-left: 1px solid white
}
.Collections{
    border-right: 1px solid white;
}
.wine-card-box{
    width: 400px;
    height: 40px;
    position: relative;
    top: 700px;
    left: 220px;
    display: flex;
    justify-content: space-between;
}
.wine-card,.DEGUSTATION{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:15px;
    padding: 23px 33px;
    background-color:#99862A;
    color: white;
}
.drink-picture img{
    width: 100%;
} 
/* .all{
    border: 1px solid red;
    height: 20000px;
} */
.old-vine{
    margin-top:-55px;
    background-color:#282828;
    position: relative;
    height: 860px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.old-vine-box{
    position:absolute;
    border: 2px solid white;
    height: 656px;
    width: 1110px;
    gap: 50px;
    align-items: center;
    
} 
.old-vine-line-box{
    border-top: 1px solid white;
    width: 160px;
    padding-bottom: 20px;
}
.old-vine-box div{
    margin-right: 185px;
    margin-left: 185px;
}
.one h4{
    color: aliceblue;
    margin-top: 60px;
    margin-bottom: 80px;
} 
.three img{
margin-top: 50px;
margin-bottom: 60px;
margin-left: 280px;
}
.three{
width: fit-content;
width: 160px;
height: 160px;

margin-left: 475px;
margin-right: 800px;
}
.two{
    width: 733px;
    height: 192px;
}
.two p{
    color: aliceblue;
    line-height: 24px;
    font-weight: 400;
}
.table-bade{
    background-color:#E6E3C4;
    position: relative;
    display: flex;
    height: 1038px;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.table-bade-box{
    position: absolute;
    border-bottom: 2px solid #998431;
    border-top: 2px solid #998431;
    height: 878px;
    width: 1110px;
    display: flex;
    justify-content: space-between;
}
.left-table{
    width: 445px;
    height: 100%;
    padding-top: 60px;
}
.right-table{
    width: 540px;
}
.March-1980{
    width: 274px;
    height: 104px;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
}
.March-1980-line{
    border-top: 1px solid #282828;
    width: 150px;
    margin: 30px 0;
}
.Lorem{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.table tr td{
    color: #282828;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 100;
}
.table-body{
    height: 228px;

}
.table-info{
    border: 3px solid transparent;
    border-collapse: collapse;
    width: 445px;
    height: 228px;
    text-align: center;
}
.bir,.besh,.doqquz{
    border-right: 1px solid black;
   width: 75px;
   border-bottom: 1px solid black
   
}
.iki,.alti,.on{
    font-family: 'Playball', cursive;
    font-size: 18px;
    line-height: 27px;
   
}
.uc,.yeddi,.oniki{
    color: #282828;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    border-bottom: 1px solid black;
}
.Knowing{
    margin-top: 30px;
    font-size: 12px;
    line-height: 21px;
    font-weight: 400;
    font-family:'Montserrat', sans-serif;
}
.learn-more-button{
    background-color: #998431;
    color: white;
    width: fit-content;
    width: 30%;
    height: 4%;
    text-align: center;
    margin-top: 45px;
    padding-top: 7px;
    font-size: 13px;
}
.footofright{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.right-table{
    margin: 70px;
}
.Registration{
    /* border: 1px solid black; */
    height: 767px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    color: white;
}
.Registration-box{
    border: 3px solid #C4C4C4;
    height: 538px;
    width: 1110px;
    position: relative;
    display: flex;
    justify-content: center;
}
.Registration-box div{
    position: relative;
    text-align: center;
}
.Lorem-text{
    /* border: 1px solid goldenrod; */
    width: 480px;
    height: 72px;
    position: relative;
    left: 190px;
    bottom: 250px;
    color: white;
    margin-top: -39px
}
.name-phone>input{
    width: 255px;
}
.adress input{
    width: 540px;
}
.register div input::placeholder{
    color: white
}
.name-phone{
    position: relative;
    /* border: 1px solid gray; */
    left: 190px;
    bottom: 200px;
    color: white;
   background-color: #282828;
}
.text2{
    margin-left: 26px;
    background-color: #282828;
}
.text1{
    background-color: #282828;
}
.adress{
    margin-top: 40px;
    position: relative;
    left: 190px;
    bottom: 200px;
    background-color: #282828;
}
.adressbox{
    background-color: #282828;
}
.register div input{
    border: 1px solid transparent;
    border-bottom: 1px solid white;
    height: 30px;
}
.register-buttom{
    border: 1px solid white;
    width: 541px;
    position: relative;
    left: 190px;
    bottom: 160px;
}
.register{
    width: fit-content;
}
.Registration-box-main{
    width: fit-content;
    position: absolute;
    width: 900px;
}
.Degustation-Registration{
    position: relative;
    top: -335px;
    background-color: transparent;
    color: white;
    font-size: 36px;
  
}
.registration-img1{
    position: relative;
    right: 180px;
    bottom: 60px;
    width: 260px;
    height: 260px;
}
.registration-img2{
    position: relative;
    bottom: 670px;
    left: 800px;
    width: fit-content;
}
.foot{
    /* border: 1px solid black; */
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #998431;
}
.foottable{
    height: 120px;
    width: 1110px;
    position: absolute;
    color: white;
    
    ;
}
.headoftable{
    border-top: 1px solid white;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.footoftable{
    height: 60px;
    position: relative;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    border: 1px solid transparent;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 2px;
}
.headoftablebox{
    position: absolute;
}
.footoftable div {
    padding: 20px 70px;
    margin-top: -2px;
}
.imglogo :nth-child(2){
    margin-left: 20px;
    margin-right: 20px;
}
.number{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.imglogo{
    border-right: 1px solid white;
}
.Degustation-Registration-h{
    z-index: -1;
    background-color: #282828;
    width: fit-content;
    margin-left: 180px;
    padding: 0 50px;
}
.Degustation-Registration-line{
    border-top: 1px solid white;
    width: 118px;
    margin-left: 370px;
}